
.stopwatch__display {
    color: aliceblue;
    font-size: 50px;

}

.stopwatch__history{
    color: aliceblue;
    font-size: 15px;

}


#dropdown-basic, .stopUhrBtn{
    color: #fff;
    background-color:  #0079bf73;
    margin-top: 5px;
    width: 100%;
    height: 50px
}

#dropdown-basic:hover, .stopUhrBtn:hover {
    color: #fff;
    background-color: #0b5ed7;
    border-color: #0a58ca;
}