.App {
  font-family: sans-serif;
  text-align: center;
}

.btnGenre{
	width: 75% !important;
    background-color: #0079bf73;
    border: none;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
}